
   

    body, html {
        height: 100%;
        margin: 0;
        font-family: "Oswald", sans-serif;
      }

      .carousel-item{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pic1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 50%;
        height: 400px;
      }
      .carousel-caption{
        top: 70px;
      }
      
      .carousel-item h2{
        color: white;
        font-size: 32px;
        font-family: "Oswald",sans-serif;
      }
      
      .carousel-item button{
        border-radius: 5px;
        outline: 0;
        display: inline-block;
        padding: 5px 10px;
        color: white;
        background-color: transparent;
        border-color: white;
        text-align: center;
        cursor: pointer;
        font-family: "Oswald",sans-serif;
      }

      .servic h1 {
        padding-top: 30px;
        text-align: center;
        color:#ff8b00;
        padding-left: 30px;
        padding-right: 30px ;
        font-family: "Oswald",sans-serif;
      }
      .servic p {
         color:#939393;
         text-align: center;
         font-size: 16px;
      }

      .grid-servic h2{
        color:white;
        font-size: 24px;
        padding-left: 10px;
        font-family: "Oswald",sans-serif;
      }
      .icon{
        padding-left: 10px;
      }
      .grid-servic p{
        color:#939393;
        font-size: 16px;
        padding-left: 10px;
      } 
     .gridd{
       margin-bottom: 50px;
     }
     
      .grid-servic{
        padding-bottom: 20px;
        padding-left: 10px;
      
      }

      .iframe-i{
        position: relative;
       overflow: hidden;
        width: 100%;
       padding-top: 56.25%;
       display: table;
       margin: 0 auto;
       max-width: 900px;
       margin-bottom: 100px;
      }

      .res-iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border: none;
      }
      .gr1{
        display: grid;
        grid-template-columns: auto auto;
      }
      .grid-up{
        color:#ff8b00;
        text-align: center;
        font-size: 40px;
      }
      .upstexts{
        color:white;
        text-align: center;
        font-size: 14px;
      }
      .teams h1{
        color: #ff8b00;
        text-align: center;
        font-family: "Oswald",sans-serif;
      }
    .team{
      margin-bottom: 100px;
    }
        
      
      .teams p{
        font-size: 16px;
        color:#939393;
        text-align: center;
      }

      .carda{
        background-color:#383838;
        margin: auto;
        text-align: center;
        font-family: arial;
        padding-bottom: 20px;
        margin-bottom:50px ;
        border-radius: 5px;
      }
      .carda a{
        text-decoration: none;
        padding: 5px;
        font-size: 16px;
        color:white;
        background-color: #ff8b00;
        border-radius: 5%;
        
      }
      .carda h1{
        font-size: 17px;
        color:#ff8b00;
        font-family: "Oswald",sans-serif;
      }
      .carda p{
        font-size: 14px;
        color: #939393;
        
       }
       
       .carda img{
        padding: 20px 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        
      }
      .sp{
        margin-bottom: 100px;
      }

      .sessions-pricing h1{
        text-align: center;
        color:#ff8b00;
        font-family: "Oswald",sans-serif;
      }
    .sessions-pricing p{
      text-align: center;
    }
    

    .cardb{
      background-color: #383838;
      width: 100%;
      max-height: 500px;
      text-align: center;
      padding: 30px 20px;
      margin-bottom:50px ;
      border-radius: 5px;
    }
    .cardb h2{
      color: #ff8b00;
      font-size: 48px;
      font-family: "Oswald",sans-serif;
    }

    .cardb h3{
      color: white;
      font-size: 24px;
      font-family: "Oswald",sans-serif;
    }
    
    .cardb h1 p{
      color: white;
      font-size: 12px;
    }
    
    .cardb li{
      color: #939393;
      font-size: 20px;
      line-height: 1.5;
     margin-bottom: 15px;
    }
    
    .cardb button{
      background-color:#ff8b00;
      padding: 10px 10px;
      border: none;
    
    }
    .faq{
      margin-bottom: 100px;
    }

    .faqa{
      color:#ff8b00;
      text-align: center;
      font-family: "Oswald",sans-serif;
      padding-bottom: 20px;
    }
    .qaf h3{
      color: #ff8b00;
      font-family: "Oswald",sans-serif;
      padding-bottom: 20px;
    }

    .testa-img img{
      border-radius: 50%; 
      width: 100px; 
      height: 100px;
      object-fit: cover;
      
    }
    .testa-desc p{
      background-color:#383838; 
      font-size: 16px;
      color:white;
      line-height: 30px;
      display: block;
     padding: 24px;
     font-style: italic;
    }
    .testimonial{
      margin-bottom: 100px;
    }
    .testa{
      text-align: center;
      color:#ff8b00; 
     
    }
    .blog{
      margin-bottom: 100px;
    }
    .lbpa h1{
      text-align: center; 
      color: #ff8b00;
      font-family: "Oswald",sans-serif;
    }
    .lbpa p{
      text-align: center;
      font-size: 16px;
      color: #ff8b00;
    }
    .bloga img{
      height:250px; 
      width:100%;
    }
    .bloga h2{
      color: #ff8b00; 
      font-size: 32px;
      font-family: "Oswald",sans-serif;
    }
    .bloga h4{
      columns: #939393; 
      font-size:16px;
    }
    .bloga p{
      color: #939393;
      font-size: 16px; 
    }

    .gina p{
      color:#ff8b00; 
      font-size:16px; 
      text-align: center; 
    }
    
    .cma p{
      text-align: center; 
      font-size: 48px; 
      color: #ff8b00;
    }
    .contacta{
      padding-bottom: 50px;
    }
    
    
    .fnamea input{
      color: #939393;
      background-color: #383838;
      padding: 12px 20px;
      width: 300px;
      margin: 8px 4px;
      border-radius: 5px;
    }
    .emaila input{
      color: #939393;
      background-color: #383838;
      padding: 12px 20px;
      width: 300px;
      margin: 8px 4px;
      border-radius: 5px;
    }
    .wyma textarea{
      color: #939393;
      background:#383838;
      margin:8px 6px; 
      width: 300px;
      height: 200px;
      border-radius: 5px;
    }
    .buttona{
      background-color: #ff8b00; 
      color: white; 
      padding: 12px 25px; 
      text-align: center; 
      font-size: 15px;
      border-radius: 5px;
      margin-left: 5px;
      border: none;
      width:300px;
      margin-bottom: 30px;
    }
    .knowmorea h2{
      color: #ff8b00;
      font-family: "Oswald",sans-serif;
    }
    .knowmorea{
      margin-left: 20px;
     
    }
    .gsa{
      background-color: #ff8b00; 
      color: white; 
      padding: 12px 20px; 
      text-align: center; 
      font-size: 15px;
      border-radius: 5px;
    }

    .footcla{
      background-color: #383838; 
      padding: 16px;
    }
    .aboutusa h2{
      font-size: 22px; 
      color: white;
      text-align: left;
      padding-top: 20px;
      padding-left: 3px;
      font-family: "Oswald",sans-serif;
    }
    .aboutusa p{
      color: white; 
      font-size: 18px;
      text-align: left;
      padding-left: 3px;
    }
    .featuresa h2{
      font-size: 22px; 
      color: white;
      text-align: left;
      padding-left: 3px;
      font-family: "Oswald",sans-serif;
    }
    .featuresa ul{
      color:#939393; 
      font-size: 18px;
    }
    .subsa h2{
      color: white; 
      font-size: 18px;
      text-align: left;
      padding-left: 3px;
      font-family: "Oswald",sans-serif;
    }
    .subsa button{
      background-color: #ff8b00; 
      color: white; 
      padding: 5px 22px; 
      text-align: center; 
      font-size: 12px;
      border-radius: 5%;
      
      
    }
    .subsa input{
      color:#939393;
      background:#383838;
      height: 30px;
      border-radius: 5px;
    }
  
    

    @media only screen and (min-width: 769px) {
    
   .gr1{
     display: grid;
     grid-template-columns: auto auto auto auto;
   }
   
  .footera{
    display: grid;
    grid-template-columns: auto auto auto;
  }
   .subsa{
     padding-right: 50px;
   }
   .featuresa{
     padding-right: 180px;
   }
   .aboutusa{
     padding-left: 50px;
     padding-right: 50px;
   }
  
   .cp{
     padding-top: 100px;
   }
   .footera{
     padding-top: 70px;
   }
   .contacta{
     display: grid;
     grid-template-columns: auto auto;
   }

   .knowmorea{
     padding-left: 300px;
     padding-right: 50px;
   }
   .gina{
     padding-top: 70px;
   }
   .testa{
     padding:50px;
   }
   .testimonial{
    margin-bottom: 50px;
   }
   .qa-grids{
     padding: 50px;
   }
  .grid-servic{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 30px;
    padding-right: 20px;
  }
  .gridd{
    display: grid;
    grid-template-columns: auto auto;
  }
 
   
 
 .gr-id1{
   padding-bottom: 50px;
   padding-top: 50px;
 }
 .blog{
  margin-bottom: 450px;
}
.testimonial{
  margin-bottom: 450px;
}
.team{
  margin-bottom: 350px;
}
.sp{
    margin-bottom: 550px;
  }
  .faq{
    margin-bottom: 400px;
  }

}
